.banner {
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.2)0%, rgba(0,0,0,0.2)50%), url(../../images/background.png);
	background-position: center;
	padding: 135px 0px;
	background-size: cover;
}

.banner h1 {
	font-size: 45px;
	color: white;
}

.banner h3 {
	font-size: 26px;
	color: black;
	margin-bottom: 40px;
	background: white;
}

.banner i {
	margin-bottom: 50px;
	font-size: 30px;
	color: white;
}