.presentation-petitewidth {
	width: 600px;
	color: white;
	margin: 20px auto;
	text-align: center;
	background:#202024;
	padding: 60px 80px;
}

@media (max-width: 960px) {
  
       .presentation-petitewidth {
         width: 340px;
       }
}

@media (max-width: 720px) {
  
       .presentation-petitewidth {
         width: 340px;
       }
}

@media (max-width: 540px) {
  
      .presentation-petitewidth {
        width: 150px;  
      }

      .avatar {
      	width: 150px;
      }
}